$main-color:#ffb03b;
$second-color:#444444;
$logo-color:white;
$font-color:white;
$choose-number-color:#ffcf88;
$choose-font-color:#6c665c;
$big-size:100px;
$about-font-color:#848484;
$size:14px;
$special-font-color: #777777;
$second-font-family:'Satisfy', cursive;
$say-position-font-family:'Comic Neue', cursive;