$main-color:#ffb03b;
$second-color:#444444;
$logo-color:white;
$font-color:white;
$background-color:#fffaf3;
$choose-number-color:#ffcf88;
$choose-font-color:#6c665c;
$big-size:100px;
$about-font-color:#848484;
$size:14px;
$special-font-color: #777777;
$second-font-family:'Satisfy', cursive;
$say-position-font-family:'Comic Neue', cursive;
$button-hover-color:#f0a636;
$contact-card-head:#433f39;
$contact-card-text:#7a7368;
$contact-card-logo-background:#fff6e8;
$footer-background-color:#35322d;