
@{
    ViewData["Title"] = "Team";
}

<main>
        <section id="team" class="mt-2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 teamIntro mb-3">
                        <h3>Our <span>Team</span></h3>
                        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                        <div class="employee">
                            <div class="image">
                                <img src="./assets/img/chefs-1.jpg" data-toggle="modal" data-target="#exampleModal"
                                    class="card-img-top" alt="">
                            </div>
                            <div class="image-info">
                                <h4>Walter White</h4>
                                <span>Master Chef</span>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-logo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header d-flex justify-content-center">
                                        <h5 class="modal-title" id="exampleModalLabel">Walter White</h5>
                                    </div>
                                    <div class="modal-body d-flex">
                                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse inventore error,
                                        vero tenetur omnis ducimus id, tempore blanditiis mollitia sequi cupiditate
                                        quibusdam, asperiores neque beatae et est explicabo voluptatum enim.
                                        lorem
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quidem dolor expedita omnis repellat vitae accusantium deleniti recusandae architecto? Fugit explicabo similique unde nam error sint minima ratione architecto iusto.
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id fugiat natus officiis recusandae fugit nobis similique quas perferendis, inventore molestiae repellat porro tenetur repellendus deserunt aut eos numquam aperiam? Consequuntur!
                                        <!-- <div class="modal-image">
                                            <img src="./assets/img/chefs-1.jpg" class="card-img-top" alt="">
                                        </div> -->
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                        <div class="employee">
                            <div class="image">
                                <img src="./assets/img/chefs-2.jpg" class="card-img-top" alt="">
                            </div>
                            <div class="image-info">
                                <h4>Sarah Jhonson</h4>
                                <span>Patissier</span>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-logo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                        <div class="employee">
                            <div class="image">
                                <img src="./assets/img/chefs-3.jpg" class="card-img-top" alt="">
                            </div>
                            <div class="image-info">
                                <h4>William Anderson</h4>
                                <span>Cook</span>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-logo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 py-3">
                        <div class="employee">
                            <div class="image">
                                <img src="./assets/img/chefs-3.jpg" class="card-img-top" alt="">
                            </div>
                            <div class="image-info">
                                <h4>William Anderson</h4>
                                <span>Cook</span>
                                <ul>
                                    <li><a href="#"><i class="fab fa-twitter social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-facebook social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram social-logo"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin social-logo"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        @section Script
{
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/otherPage.js"></script>
}
    </main>

