<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" asp-area="admin" asp-controller="Dashboard" asp-action="Index"><img src="~/admin/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" asp-area="admin" asp-controller="Dashboard" asp-action="Index" img src="~/admin/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">@User.Identity.Name</h5>
                  <span>Super Admin</span>
                </div>
              </div>
              
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link">Navigation</span>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Setting" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-settings"></i>
              </span>
              <span class="menu-title">Setting</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-home"></i>
              </span>
              <span class="menu-title">Home</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="HomeIntro" asp-action="Index">Intro</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="About" asp-action="Index">About</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="AboutOption" asp-action="Index">About Option</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="ChooseRestaurant" asp-action="Index">Choose Restaurant</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Special" asp-action="Index">Specials</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Gallery" asp-action="Index">Gallery</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Feedback" asp-action="Index">Feedback</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic2" aria-expanded="false" aria-controls="ui-basic">
              <span class="menu-icon">
                <i class="mdi mdi-food"></i>
              </span>
              <span class="menu-title">Menu</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Menu" asp-action="Index">Product</a></li>
                <li class="nav-item"> <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">Category</a></li>
             </ul>
            </div>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Team" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-account-multiple"></i>
              </span>
              <span class="menu-title">Team</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Position" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-certificate"></i>
              </span>
              <span class="menu-title">Position</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Reservation" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span>
              <span class="menu-title">Reservation</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="ContactUs" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-contact-mail"></i>
              </span>
              <span class="menu-title">ContactUs</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Subscribe" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-email"></i>
              </span>
              <span class="menu-title">Subscribe</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Account" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-account"></i>
              </span>
              <span class="menu-title">User</span>
            </a>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-credit-card"></i>
              </span>
              <span class="menu-title">Order</span>
            </a>
          </li>
        </ul>
      </nav>