.chooseIntro{
    flex-direction: column;
    text-align: center;
    & h3{
        font-size: ($size*2)+4;
        color: $second-color;
        font-family: $second-font-family;
        font-weight: 600;
        & span{
            color: $main-color;
            font-family: $second-font-family;
        }
    }
    & p{
        font-size: $size+2;
        color: $second-color;
        font-weight: 300;
        margin: 1% auto 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .chooseIntro{
        & p{
            width: 50%;
        }
    }
}

#WhyChoose .box {
   
    padding: 50px 30px;
    box-shadow: 0 $size/3 $size+1 rgb(212, 212, 212);
    transition: all ease-in-out 0.3s;
    height: 100%;
   
}
.box:hover{
    background-color:#ffb03b ;
   
} 
.box h5{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: 0%;
    color: $choose-font-color;
    font-family: "Satisfy", sans-serif;
    font-size: ($size*2)-4;
    font-weight: 600;

}
.box:hover h5{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: -10%;
    color: white;
}
.box:hover span{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: -10%;
    color: white;
}
.box span{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: 0%;
    color: $choose-number-color;
    font-size: $size*2;
        font-weight: 700;
}
.box:hover p{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: -10%;
    color: white !important;
}

.box p{
    position: relative;
    transition: all ease-in-out 0.3s;
    top: 0%;
}