.chooseIntro{
    flex-direction: column;
    text-align: center;
    & h3{
        font-size: ($size*2)+4;
        color: $second-color;
        font-family: $second-font-family;
        font-weight: 600;
        & span{
            color: $main-color;
            font-family: $second-font-family;
        }
    }
    & p{
        font-size: $size+2;
        color: $second-color;
        font-weight: 300;
        margin: 1% auto 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .chooseIntro{
        & p{
            width: 50%;
        }
    }
}

.myCard{
    padding: 14% 9%;
    border: none;
    box-shadow: 0 $size/3 $size+1 rgb(212, 212, 212);
    border: none;
    height: 100%;
    & h5{
        font-size: $size*2;
        font-weight: 700;
        color: $choose-number-color;
    }
    & h6 {
        color: $choose-font-color;
        font-family: "Satisfy", sans-serif;
        font-size: ($size*2)-4;
        font-weight: 600;
        margin: 5% 0;
    }
}