#footer{
    background-color: $footer-background-color;
    & ul{
        & li{
            list-style: none;
            color: $font-color;
            font-family: $say-position-font-family;
            & p{
                font-size: 14px;
                margin: 0;
                line-height: 24px;
            }
        }
        & .logo{
            font-family: $second-font-family;
            color: $main-color;
            font-size: ($size*2)+4;
            margin-bottom: $size;
        }
        .contactRestaurant{
            margin-top: $size+6;
        }
    }
    & .icon-footer-right{
        margin-right: 5px;
        color: $main-color;
    }
    & .pageProp{
        & h3{
            font-size: $size+4;
            margin: $size/2 0 $size;
            color: white;
        }
        & a{
            color: $font-color;
            font-size: $size;
            transition: .3s all;
        }
        & li{
            transition: .3s all;
            padding:10px 0;
        }
        & li:hover{
            margin-left: 5px;
        }
        & li:hover a{
            color: $main-color;
            text-decoration: none;
        }
        & ul > li{
            padding: 0 0 10px;
        }
    }
}