.specialIntro{
    flex-direction: column;
    text-align: center;
    & h3{
        font-size: ($size*2)+4;
        color: $second-color;
        font-family: 'Satisfy', cursive;
        font-weight: 600;
        & span{
            color: $main-color;
            font-family: 'Satisfy', cursive;
        }
    }
    & p{
        font-size: $size+2;
        color: $second-color;
        font-weight: 300;
        margin: 1% auto 0 auto;
    }
}

@media only screen and (min-width: 1024px) {
    .specialIntro{
        & p{
            width: 50%;
        }
    }
}
.titleSpecials{
    & ul{
        & li{
            list-style: none;
            padding: 0;
            & .nav-link{
                font-size: $size+1;
                color: $second-color;
                font-weight: 600;
                padding: 12px 15px 12px 0;
                border-right: 2px solid #e8e7e4;
            }
        }
    }
}