
@{
    ViewData["Title"] = "Reservation";
}

<main>
    <section id="reservation" class="mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 reservationIntro">
            <h3>Book a <span>Table</span></h3>
            <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
              vitae autem.</p>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12 message mt-3">
            <form action="#">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="inputEmail4" placeholder="Your Name">
                </div>
                <div class="form-group col-md-4">
                  <input type="email" class="form-control" id="inputEmail4" placeholder="Your Mail">
                </div>
                <div class="form-group col-md-4">
                  <input type="number" class="form-control" id="inputEmail4" placeholder="Your Phone">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <input type="date" class="form-control">
                </div>
                <div class="form-group col-md-4">
                  <input type="time" class="form-control">
                </div>
                <div class="form-group col-md-4">
                  <input type="text" class="form-control" id="peopleCOunt" placeholder="# of People">
                </div>
              </div>
              <div class="form-group myArea">
                <textarea name="Message" class="myTextArea" id="mesagge" placeholder="Message"></textarea>
              </div>
              <div class="buttonSend d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Reservation</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    @section Script
{
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/otherPage.js"></script>
}
  </main>

