@model ReservationVM
@{
    ViewData["Title"] = "Reservation";
}

<main>
    <section id="reservation" class="mt-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 reservationIntro">
                    <h3>Book a <span>Table</span></h3>
                    <p>
                        Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque
                        vitae autem.
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 message mt-3">
                    <form method="post" asp-controller="Reservation" asp-action="ReservationTable">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <input asp-for="FullName" class="form-control" placeholder="Your Name">
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>
                            <div class="form-group col-md-4">
                                <input asp-for="Email" class="form-control" placeholder="Your Mail">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="form-group col-md-4">

                                <input asp-for="Number" class="form-control" placeholder="Example: 994..."
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       maxlength="12"
                                       minlength="12" />
                                <span class="text-danger" asp-validation-for="Number"></span>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-lg-6 col-md-6">
                                <input asp-for=Date class="form-control">
                                <span class="text-danger" asp-validation-for="Date"></span>
                            </div>
                            <div class="form-group col-lg-6 col-md-6">
                                <input asp-for="PeopleCount" type="text" class="form-control" min="1" max="10" placeholder="# of People"
                                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                                       minlength="1" 
                                       maxlength="2" />
                                <span class="text-danger" asp-validation-for="PeopleCount"></span>
                            </div>
                        </div>
                        <div class="form-group myArea">
                            <textarea asp-for="Message" name="Message" class="myTextArea" id="mesagge" placeholder="Message"></textarea>
                            <span class="text-danger" asp-validation-for="Message"></span>
                        </div>
                        <div class="buttonSend d-flex justify-content-center">
                            @if (@ViewBag.ReservationCountDb == @ViewBag.ReservationCountSetting)
                            {
                                <h4 class="text-danger">All the places in the restaurant are full.</h4>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary">Reservation</button>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    @section Script
    {
    <script src="~/assets/js/NavLink.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script src="~/assets/js/otherPage.js"></script>
    <partial name="_ValidationScriptsPartial" />
    }
</main>

