* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

#nav1 {
  background-color: transparent;
  -webkit-transition: .3s;
  transition: .3s;
}

#nav1 .nav1Left {
  font-size: 15px;
  font-weight: 500;
  color: white;
  margin-right: 24px;
  word-spacing: -1px;
}

#nav1 .nav1Left i {
  color: #ffb03b;
}

.myNavbar {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .myNavbar {
    background-color: rgba(0, 0, 0, 0.9);
  }
  .myNavbar #nav1 .nav1Hidden {
    display: none;
  }
  .myNavbar #nav1 .nav1Number {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav2Right {
  margin-left: 29%;
}

.nav2Right a {
  font-weight: 500;
  padding: 14px 0 14px 24px !important;
  color: white;
  font-size: 15px;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.nav2Right a:hover {
  color: #ffb03b;
}

.nav2LeftIcon {
  font-family: "Satisfy", cursive;
  font-size: 28px;
  font-weight: 500;
  color: white;
  letter-spacing: 3px;
  line-height: 1;
}

.nav2LeftIcon:hover {
  color: white;
}

.burgerMenu {
  color: white;
}

.background-scroll-navbar {
  background-color: rgba(0, 0, 0, 0.9);
  -webkit-transition: .3s all;
  transition: .3s all;
}

.background-scroll-0-navbar {
  -webkit-transition: .3s all;
  transition: .3s all;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.active-color {
  color: #ffb03b !important;
}

.owlImg .img {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: center top;
}

.owlImg .img::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
}

.contentIntro {
  position: absolute;
  top: 50%;
  Left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.contentIntro h2 {
  margin-bottom: 30px;
  font-family: "Satisfy", cursive;
  color: white;
  font-size: 48px;
  font-weight: 600;
}

.contentIntro h2 span {
  font-family: "Satisfy", cursive;
  color: #ffb03b;
}

.contentIntro p {
  margin: 0 auto 30px auto;
  color: white;
  font-weight: 500;
}

.contentIntro button {
  margin: 0 10px;
  border-radius: 58px;
  padding: 10px 33px;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #ffb03b;
  font-weight: 500;
  -webkit-transition: .3s all;
  transition: .3s all;
  font-weight: 500;
}

.contentIntro button:hover {
  background-color: #ffb03b;
  border: 2px solid #ffb03b;
}

.contentIntro .btn:focus {
  background-color: #ffb03b;
  border-color: 2px solid #ffb03b;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contentIntro .btn:active:focus {
  background-color: #ffb03b;
  border-color: 2px solid #ffb03b;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.contentIntro .btn-primary:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border-color: 1px solid #ffb03b !important;
}

#homeIntro .active .animate-head {
  -webkit-animation: fadeInDown ease 1s both;
          animation: fadeInDown ease 1s both;
}

#homeIntro .active .animate-content {
  -webkit-animation: fadeInUp ease 1s 1s both;
          animation: fadeInUp ease 1s 1s both;
}

#homeIntro .active .animate-button {
  -webkit-animation: fadeInUp ease 1s 2s both;
          animation: fadeInUp ease 1s 2s both;
}

#about {
  background-color: #fffaf3;
}

.padding-all-content {
  padding: 0 7%;
}

.image-about {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 400px;
  position: relative;
}

.image-about .icon-play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 25px;
  color: white;
  padding: 25px;
  border-radius: 44px;
  background-color: #ffb03b;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.image-about .icon-play:hover {
  background-color: #f0a636;
}

.about-head h3 {
  font-family: "Satisfy", cursive;
  font-size: 34px;
  color: #444444;
}

.about-head h3 span {
  font-family: "Satisfy", cursive;
  font-size: 34px;
  font-weight: 600;
}

.about-content p {
  color: #848484;
  font-size: 15px;
}

.about-italic-content p {
  font-style: italic;
  font-size: 15px;
  color: #848484;
}

.about-content-options li {
  list-style: none;
  font-size: 16px;
}

.about-content-options .check-option-about {
  color: #ffb03b;
}

.about-content-options .distance-ul-about {
  margin: 18px 0;
}

.chooseIntro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.chooseIntro h3 {
  font-size: 32px;
  color: #444444;
  font-family: "Satisfy", cursive;
  font-weight: 600;
}

.chooseIntro h3 span {
  color: #ffb03b;
  font-family: "Satisfy", cursive;
}

.chooseIntro p {
  font-size: 16px;
  color: #444444;
  font-weight: 300;
  margin: 1% auto 0 auto;
}

@media only screen and (min-width: 1024px) {
  .chooseIntro p {
    width: 50%;
  }
}

.myCard {
  padding: 14% 9%;
  border: none;
  -webkit-box-shadow: 0 4.66667px 15px #d4d4d4;
          box-shadow: 0 4.66667px 15px #d4d4d4;
  border: none;
  height: 100%;
}

.myCard h5 {
  font-size: 28px;
  font-weight: 700;
  color: #ffcf88;
}

.myCard h6 {
  color: #6c665c;
  font-family: "Satisfy", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 5% 0;
}

.specialIntro {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.specialIntro h3 {
  font-size: 32px;
  color: #444444;
  font-family: "Satisfy", cursive;
  font-weight: 600;
}

.specialIntro h3 span {
  color: #ffb03b;
  font-family: "Satisfy", cursive;
}

.specialIntro p {
  font-size: 16px;
  color: #444444;
  font-weight: 300;
  margin: 1% auto 0 auto;
}

@media only screen and (min-width: 1024px) {
  .specialIntro p {
    width: 50%;
  }
}

.titleSpecials ul li {
  list-style: none;
  padding: 0;
}

.titleSpecials ul li .nav-link {
  font-size: 15px;
  color: #444444;
  font-weight: 600;
  padding: 12px 15px 12px 15px;
  border-right: 2px solid #e8e7e4;
  -webkit-transition: .3s all;
  transition: .3s all;
}

.titleSpecials ul li .nav-link:hover {
  color: #ffb03b;
}

.titleSpecials ul li .active-special {
  color: #ffb03b;
  border-right: 2px solid #ffb03b;
}

@media only screen and (max-width: 992px) {
  .titleSpecials ul li .nav-link {
    border-right: none;
    -webkit-transition: .3s all;
    transition: .3s all;
  }
  .titleSpecials ul li .nav-link:hover {
    color: #ffb03b;
  }
  .titleSpecials ul li .active-special {
    background-color: #ffb03b;
    color: white;
  }
  .titleSpecials ul li .active-special:hover {
    background-color: #ffb03b;
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .active-special-property {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.content-special h3 {
  font-family: "Satisfy", cursive;
  color: #444444;
  font-weight: 600;
  font-size: 28px;
  margin: 0;
}

.content-special .distance {
  color: #777777;
  font-style: italic;
  font-size: 16px;
  margin: 3% 0 2% 0;
}

.content-special .normal-text {
  color: #777777;
  font-size: 16px;
}

.active-special-property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: fadeIn ease .5s both;
          animation: fadeIn ease .5s both;
}
/*# sourceMappingURL=style.css.map */