@*@model SubscribeVM*@

<footer>
    <section id="subscribe" class="mt-5 subscribe">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 sub-text">
            <h4>Subscribe</h4>
            <p>Subscribe, stay up to date with updates and discounts</p>
            <form class="form">
              <input for="Email" class="sub-email" size="27">
              <button type="submit">Subscribe</button>
              <span class="text-danger d-block" for="Email"></span>
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="footer">
      <div class="container">
        <div class="row p-4">
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3 ">
            <ul>
              <li class="logo">Delicious</li>
              <li>
                <p>A108 Adam Street</p>
              </li>
              <li>
                <p>New York, NY 535022</p>
              </li>
              <li>
                <p>United States</p>
              </li>
              <li class="contactRestaurant">
                <p><strong>Phone:</strong> +994 51 403 04 77</p>
              </li>
              <li><strong>
                  <p>Email:
                </strong> tu201906147@code.edu.az</p>
              </li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3 pageProp ">
            <h3>Useful Links</h3>
            <ul>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#homeIntro">Home</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#about">About Us</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#specials">Specials</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#gallery">Gallery</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#contact">Contact</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3 pageProp ">
            <h3>Our Services</h3>
            <ul>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#">Menu</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#about">Team</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#specials">Reservation</a></li>
              <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#feedback">Feedback</a></li>
              <!-- <li><i class="fas fa-angle-right icon-footer-right"></i><a href="#contact">Contact</a></li> -->
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 mt-3 pageProp social-net ">
            <h3>Our Social Networks</h3>
            <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
            <ul>
              <li><a href="https://www.instagram.com/_.orxan477/"><i class="fab fa-facebook logo-social"></i></a></li>
              <li><a href="https://www.facebook.com/orxan477/"><i class="fab fa-instagram logo-social"></i></a></li>
              <li><a href="https://twitter.com/_orxan477"><i class="fab fa-twitter logo-social"></i></a></li>
              <li><a href="https://www.linkedin.com/in/orkhan-ganbarov-1bb707201/"><i
                    class="fab fa-linkedin-in logo-social"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCAncQZ4mlgS0ew0r-MZi5dw"><i
                    class="fab fa-youtube logo-social"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="footer2" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 creator">
            <p class="m-0 p-3">© Created by <span>Orkhan Ganbarov</span></p>
          </div>
        </div>
      </div>
    </section>
  </footer>