@model AboutOptionUpdateVM

@{
    ViewData["Title"] = "Create";
}

@*<div class="container">*@
    <row>
        <div class="col-md-6 grid-margin stretch-card mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    <form class="forms-sample" method="post">
                        <div class="form-group">
                            <label asp-for="Option"></label>
                            <input asp-for="Option" class="form-control" placeholder="Option">
                            <span class="text-danger" asp-validation-for="Option"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-light" asp-action="Index">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </row>
    @section ValidatorScript{
        <partial name="_ValidationScriptsPartial" />
    }
@*</div>*@

