<header class=" myNavbar">
    <section id="nav1" class="">
      <div class="container">
        <nav class="navbar navbar-expand-lg nav1Number">
          <a class="navbar-brand nav1Left" href="#"><i class="fas fa-mobile-alt"></i> +994 51 403 04 77</a>
          <div class="collapse navbar-collapse nav1Hidden" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="navbar-brand nav1Left" href="#">
                  <i class="far fa-clock"></i> Mon-Sat: 11:00 AM - 23:00 PM
                </a>
              </li>

            </ul>
          </div>
        </nav>
      </div>
    </section>

    <section id="nav2" class="">
      <div class="container">
        <nav class="navbar navbar-expand-lg ">
          <a class="navbar-brand nav2LeftIcon" href="index.html">Delicious</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon burgerMenu">Menu</span>
          </button>
          <div class="collapse navbar-collapse nav2Right" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link  homeIntro" asp-controller="Home" asp-action="Index" 
                  id="home-nav">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link about" asp-controller="Home" asp-action="Index" id="about-nav">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " asp-controller="Menu" asp-action="Index">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link specials" asp-controller="Home" asp-action="Index">Specials</a>
              </li>
              <li class="nav-item">
                <a class="nav-link reservation" asp-controller="Reservation" asp-action="Index">Reservation</a>
              </li>
              <li class="nav-item">
                <a class="nav-link team" asp-controller="Team" asp-action="Index">Team</a>
              </li>
              <li class="nav-item">
                <a class="nav-link gallery" asp-controller="Home" asp-action="Index">Gallery</a>
              </li>
              <li class="nav-item">
                <a class="nav-link contact" asp-controller="Home" asp-action="Index">Contact</a>
              </li>
              <li class="responsive-card ">
                <a class="nav-link basket" asp-controller="Home" asp-action="Index">Basket</a>
              </li>
              <li class="nav-item shop-cart">
                <a href="http://127.0.0.1:5500/basket.html">
                  <sup class="rounded-circle">0</sup>
                  <i class="fas fa-shopping-basket logo-basket"></i>
                </a>
                <ul class="list-unstyled py-3 shop-min">
                  <div class="basket-product">
                    <div class="basket-head">
                      <h3>Basket(1 product)</h3>
                    </div>
                    <div class="basket-list">
                      <ul>
                        <li>
                            <img src="~/assets/img/american-hot.png" alt="">
                            <div class="product-info">
                              <h5 class="m-0">American Hot</h5>
                              <p class="m-0">Count: 1</p>
                              <p class="m-0">Price: 12.90</p>
                            </div>
                        </li>
                      </ul>
                    </div>
                    <div class="basket-buttons d-flex justify-content-center mt-2">
                      <button href="http://127.0.0.1:5500/basket.html" class="btn btn-warning">Go Basket</button>
                    </div>
                  </div>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item d-none">
                <a class="nav-link WhyChoose" href="#">Choose</a>
              </li>
              <li class="nav-item d-none">
                <a class="nav-link feedback" href="#">Guest Say</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </header>